{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["airbnb"],
    "rules": {
        // enable additional rules
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "jsx-quotes": ["error", "prefer-double"],
        "semi": ["error", "always"],
        "sort-imports": [
            "error",
            {
                "ignoreCase": false,
                "ignoreDeclarationSort": true,
                "ignoreMemberSort": false,
                "memberSyntaxSortOrder": ["none", "all", "multiple", "single"]
            }
        ],
        "import/newline-after-import": [
            "error",
            {
                "count": 2
            }
        ],
        // override default options for rules from base configurations
        "no-cond-assign": ["error", "always"],
        "max-len": [
            "error",
            {
                "code": 120,
                "ignoreStrings": true
            }
        ],
        "no-unused-expressions": [
            "error",
            {
                "allowShortCircuit": true
            }
        ],
        "react/jsx-indent": ["error", 4],
        "comma-dangle": ["error", "never"],
        "react/jsx-indent-props": ["error", 4],
        "object-curly-newline": [
            "error",
            {
                "minProperties": 2
            }
        ],
        "implicit-arrow-linebreak": ["error", "below"],
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".tsx", ".ts"]
            }
        ],
        "arrow-parens": ["error", "as-needed"],
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": false
            }
        ],

        // disable rules from base configurations
        "no-console": "off",
        "no-unused-vars": "off",
        "react/prop-types": "off",
        "react/jsx-props-no-spreading": "off",
        "import/prefer-default-export": "off",
        "no-use-before-define": "off",
        "func-names": "off",
        "import/no-extraneous-dependencies": ["off"]
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "config/webpack.dev.js"
            },
            "node": {
                "paths": ["src"]
            },
            "alias": {
                "map": [
                    ["@@components", "./src/components"],
                    ["@@static", "./src/static"],
                    ["@@common", "./src/common"],
                    ["@@constants", "./src/constants"],
                    ["@@pages", "./src/pages"]
                ],
                "extensions": [".ts", ".js", ".tsx", ".json"]
            }
        }
    },
    "env": {
        "jest": true,
        "browser": true
    }
}
